@import '../../variables.css';

.login-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.login-main {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--spacing-xl);
    background-color: var(--background-dark);
}

/* Адаптив для мобильных устройств */
@media (max-width: 768px) {
    .login-main {
        padding: var(--spacing-lg);
    }
}