@import '../../../variables.css';

.processed-report-area {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
    margin: var(--spacing-lg) 0 0px 0;
    padding: 0;
    padding-top: var(--spacing-lg);
    border-top: 1px solid var(--border-color);
}