@import '../../../../variables.css';

.personal-data-key {
    width: 100px;  
    color: var(--text-secondary);
    font-size: 0.875rem;
    font-weight: 500;
    flex-shrink: 0;
}

@media (max-width: 768px) {
    .personal-data-key {
        width: auto;
    }
}