@import '../../../../../../variables.css';

.existing-camera {
    cursor: pointer;
    transition: background-color 0.2s;
}

.existing-camera:hover {
    background-color: var(--background-input);
}

.existing-camera__id {
    font-weight: 500;
}

.existing-camera__name {
    color: var(--text-secondary);
}

.existing-camera__area-name {
    color: var(--text-secondary);
}

.existing-camera:hover .existing-camera__name,
.existing-camera:hover .existing-camera__area-name {
    color: var(--button-yellow);
}